In [116]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
import time
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [106]:
#set up the splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Driver [C:\Users\anita\.wdm\drivers\chromedriver\win32\98.0.4758.80\chromedriver.exe] found in cache

In [107]:
url = "https://redplanetscience.com/"
browser.visit(url)

In [108]:
html = browser.html
news_soup = soup(html, "html.parser")

In [109]:
slide_elem = news_soup.select_one('div.list_text')
slide_elem.find('div', class_='content_title')

In [110]:
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

"NASA's Perseverance Mars Rover Gets Balanced"

In [111]:
news_para = slide_elem.find('div', class_='article_teaser_body').get_text()
news_para

"The mission team performed a crucial weight-balancing test on the rover in preparation for this summer's history-making launch to the Red Planet."

In [122]:
url = "https://spaceimages-mars.com/"
browser.visit(url)
time.sleep(2)

In [123]:
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [124]:
html = browser.html
img_soup = soup(html, "html.parser")

In [125]:
img_url = img_soup.find('img', class_='fancybox-image').get('src')
img_url

'image/featured/mars1.jpg'

In [127]:
url = 'https://galaxyfacts-mars.com/'

In [128]:
#get mars facts
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [129]:
type(tables)

list

In [130]:
df = tables[1]
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [131]:
#covert table to a HTML table string
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [132]:
df.to_html('table.html')

In [133]:
url = 'https://marshemispheres.com/'
browser.visit(url)

In [134]:
hemisphere_image_urls = []
links = browser.find_by_css('a.product-item img')
for x in range(len(links)):
    hemisphere = {}
    browser.find_by_css('a.product-item img')[x].click()
    sample_element = browser.links.find_by_text('Sample').first
    hemisphere['img_url'] = sample_element['href']
    hemisphere['title'] = browser.find_by_css('h2.title').text
    hemisphere_image_urls.append(hemisphere)
    browser.back()

In [135]:
browser.quit()